@charset "UTF-8";
/*
Paleta de cores
verde: #49a09d
lilas: #5f2c82
*/

*{

    padding: 0%;
    margin: 0%;
}
body,html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}

#imagem{
    background-image: url('imagens/pexels-maria-orlova-4946772.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
main{
    background-color: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75vw;
    padding: 20px;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 2.5em;
    margin: 30px;
}
form{
    margin: 40px;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
     
}

@media (min-width:720px) {
    body,html{

    }
}